In [19]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd 
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder,OneHotEncoder
import pickle

In [20]:
#Load trained model, scaler pickle, one hot encoder
from keras.models import load_model


model = load_model("model.h5")

with open("scaler.pkl","rb") as file:
  scaler = pickle.load(file)
with open("One_hot_encoder.pkl", "rb") as file:
  one_hot_encoder = pickle.load(file)
with open("label_encoder.pkl", "rb") as file:
  label_encoder = pickle.load(file)

WARNING:absl:Compiled the loaded model, but the compiled metrics have yet to be built. `model.compile_metrics` will be empty until you train or evaluate the model.

In [21]:
input_data = {
    'CreditScore': 600,
    'Geography': 'France',
    'Gender': 'Male',
    'Age': 40,
    'Tenure': 3,
    'Balance': 60000,
    'NumOfProducts': 2,
    'HasCrCard': 1,
    'IsActiveMember': 1,
    'EstimatedSalary': 50000
}

In [22]:
# encode the actual Geography value from input_data without refitting the encoder

geo_encoded = one_hot_encoder.transform([[input_data['Geography']]]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoded, columns=one_hot_encoder.get_feature_names_out(['Geography']))
geo_encoded_df

/Users/rahuljangra/Downloads/CodeWithRahul01/deepstudysession/lib/python3.11/site-packages/sklearn/utils/validation.py:2749: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0

In [23]:
input_data = pd.DataFrame([input_data])
input_data = pd.concat([input_data.drop("Geography",axis = 1),geo_encoded_df],axis =1)

In [24]:
input_data

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,Male,40,3,60000,2,1,1,50000,1.0,0.0,0.0

In [25]:
input_data["Gender"] = label_encoder.transform(input_data["Gender"])

In [26]:
input_data

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,1,40,3,60000,2,1,1,50000,1.0,0.0,0.0

In [27]:
input_data = scaler.transform(input_data)

/Users/rahuljangra/Downloads/CodeWithRahul01/deepstudysession/lib/python3.11/site-packages/sklearn/utils/validation.py:2742: UserWarning: X has feature names, but StandardScaler was fitted without feature names
  warnings.warn(

In [28]:
prediction = model.predict(input_data)

2025-11-26 21:39:57.174837: I tensorflow/core/grappler/optimizers/custom_graph_optimizer_registry.cc:117] Plugin optimizer for device_type GPU is enabled.

1/1 ━━━━━━━━━━━━━━━━━━━━ 1s 1s/step

In [29]:
prediction

array([[0.08634196]], dtype=float32)

In [30]:
if(prediction[0][0]>0.5):
  print("Person is likely to stay in the bank")
else:
  print("Person is likely to leave the bank")

Person is likely to leave the bank